body{
    background-color: white;
}
header{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, pink,rgb(43, 43, 226));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
    color: white;
    padding: 30px 0px;
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
section{
    padding: 30px 0px;
    border-radius: 10px;
    width: 900px;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    width: 100%;
}
.q{
    text-align: center;
    padding: 30px 0px;
    width: 100%;
    background-color: rgb(149, 149, 149);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 30px;
}
nav{
    width: 200px;
    padding: 30px 0px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}