body{
    background-color: white;
}
header{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, pink,rgb(43, 43, 226));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 35px;
    color: white;
    padding: 30px 0px;
}
.t{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
section{
    padding: 30px 0px;
    border-radius: 10px;
    width: 900px;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    width: 100%;
}
.q{
    text-align: center;
    padding: 30px 0px;
    width: 100%;
    background-color: rgb(149, 149, 149);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 30px;
}
nav{
    width: 300px;
    padding: 30px 0px;
    height: 300px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background-image: url(q.webp);
    transition: all 0.7s 0s;
}
.e{
    background-image: url(w.webp);
    background-size: 300%;
}
.w{
    background-image: url(e.webp);
    background-size: 400px;
}
nav:hover{
    transform: scale(1.1);
}
input,textarea{
    display: block;
    width: 500px;
    padding: 15px 0px 0px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    outline: 0.5px;
    border: 1px solid gray;
}
button{
    background-color: rgb(84, 84, 221);
    width: 200px;
    height: 40px;
    border-radius: 7px;
    border: 0px;color: white;
    font-size: 15px;
}
.r{
    margin: auto;
    text-align: center;
}
footer {
    height: 70px;
    background-color: rgb(69, 68, 68);
    width: 100%;
    color: rgb(219, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
button:hover{
    transform: scale(1.1);
    transition: all 0.5s 0s;
    background-color: rgb(72, 72, 159);
}